#header{ width:100%; height: 130px; background: #ffffff;}
.headCon{width: 1230px; height: 130px;margin: 0 auto; position: relative}
.headConImgcon{float:left;}
.headConA{display: block;}
.headConSearchCon{width: 767px;height: 130px;float: left; position:relative;}
.headConSearchConform{width: 625px; height: 40px;position: absolute;bottom: 52px;left: 142px;}
.headContext{ width:491px; height:36px; border: 2px solid #c40000; color: #c2c2c2;float: left;}
.headConsubmit{ width: 130px; height: 40px; border: 2px solid #c40000;background: #c40000; color: #fff; font-weight: bold;font-size: 18px;float: left; }
.headConSelectCon{width: 548px; height: 30px; position: absolute;left:317px; bottom: 22px;}
.headConSelectCon ul{margin-top:7px; }
.headConSelectCon li{float: left;}
.headConSelectCon a{display: block ;font-size:14px; height: 15px; border-right: 1px solid #eeeeee; color: #dddddd;float: left;text-indent: 12px;}
.headConSelectCon .headConSelectConA1{width: 40px; text-indent: 0;}
.headConSelectCon .headConSelectConA2{width: 52px; color: #c40000;}
.headConSelectConA3{width: 66px;}
.headConSelectCon .headConSelectConA4{width:66px; color: #c40000;}
.headConSelectConA5{width: 66px;}
.headConSelectCon .headConSelectConA6{width:66px;}
.headConSelectConA7{width: 66px;}
.headConSelectCon .headConSelectConA8{width: 52px; color: #c40000;}
.headConSelectCon .headConSelectConA9{width: 66px; border:none;}

#Content{width: 100%; height: auto;}
/*.................}头部*/

#nav{width: 100%; height: 36px; background: #dd2727;}
.navCon{width: 1230px; height: 36px;font-size: 16px; margin: 0 auto;}
.navCon ul{height: 36px; overflow: hidden;}
.navCon li{float: left;overflow: hidden;}
.navCon a{height: 36px; float: left;display: block;}
.navCon a:hover{background-color: #c60a0a;}
.navCon_lisp{display:block; width: 200px; height: 36px; line-height: 36px; color: #ffffff; font-weight: bold;float: left;background:#c60a0a url(../images/navli1logo.png) no-repeat 14px 12px; text-indent: 41px;}
.navCon_liA1{width: 120px; line-height: 36px; color:#fbe6e6;background: url(../images/navli2.png) no-repeat 10px 10px; text-indent: 33px; font-weight: bold;*text-indent: 30px; margin-left: 20px}
.navCon_liA2{width: 120px; line-height: 36px; color:#fbe6e6;background: url(../images/navli3.png) no-repeat 10px 9px; text-indent: 32px; font-weight: bold;*text-indent: 29px; margin-left: 21px}
.navCon_li4{margin-left: 20px;}
.navCon_liA3{width: 83px; line-height: 38px; color:#fbe6e6;text-align: center; }
.navCon_li5{margin-left: 11px;}
.navCon_liA4{width: 68px; line-height: 38px; color:#fbe6e6;text-align: center; }
.navCon_li6{margin-left: 10px;}
.navCon_liA5{width: 68px; line-height: 38px; color:#fbe6e6;text-align: center; }
.navCon_li7{margin-left: 10px}
.navCon_liA6{width: 68px; line-height: 38px; color:#fbe6e6;text-align: center; }
.navCon_li8{margin-left: 10px}
.navCon_liA7{width: 67px; line-height: 38px; color:#fbe6e6;text-align: center; }
.navCon_li9{margin-left: 11px;}
.navCon_liA8{width: 68px; line-height: 38px; color:#fbe6e6;text-align: center; }
.navCon_li10{margin-left: 9px;}
.navCon_liA9{width: 69px; line-height: 38px; color:#fbe6e6;text-align: center; }
.navCon_li11{margin-left: 10px;}
.navCon_liA10{width: 84px; line-height: 38px; color:#fbe6e6;text-align: center; }
/*.............}红色导航栏*/

/*主要广告区域{..................................*/
#mainItem{width: 100%; height: 500px; background:#be0000;background-size: cover;}
.mainItemCon{width: 1230px; height: 500px; margin: 0 auto; position: relative; background: url(../images/banner1.jpg) no-repeat;}
/*左边列表{..............................*/
.mainItemCon_L{width: 186px ; height: 500px;background: #eee6e9; opacity: 40; padding-left: 14px;}
.mainItemCon_L a{display:block;height:24px; line-height:24px;  text-indent: 24px; color: #8b8688;}
.mainItemCon_L a:hover{color: #dd2727;}
.mainItemCon_Lli1{margin-top: 0px; background: url(../images/mainItemlogo.png) no-repeat left center;}
.mainItemCon_Lli2{margin-top: 7px; background: url(../images/12.gif) no-repeat left center;}
.mainItemCon_Lli3{margin-top: 6px; background: url(../images/13.gif) no-repeat left center;}
.mainItemCon_Lli4{margin-top: 7px; background: url(../images/14.gif) no-repeat 4px center;}
.mainItemCon_Lli5{margin-top: 7px; background: url(../images/15.gif) no-repeat left center;}
.mainItemCon_Lli6{margin-top: 7px; background: url(../images/16.gif) no-repeat 3px center;}
.mainItemCon_Lli7{margin-top: 5px; background: url(../images/17.gif) no-repeat 1px center;}
.mainItemCon_Lli8{margin-top: 6px; background: url(../images/18.gif) no-repeat left center;}
.mainItemCon_Lli9{margin-top: 5px; background: url(../images/19.gif) no-repeat left center;}
.mainItemCon_Lli10{margin-top: 7px; background: url(../images/20.gif) no-repeat left center;}
.mainItemCon_Lli11{margin-top: 7px; background: url(../images/21.gif) no-repeat left center;}
.mainItemCon_Lli12{margin-top: 7px; background: url(../images/22.gif) no-repeat left center;}
.mainItemCon_Lli13{margin-top: 7px; background: url(../images/23.gif) no-repeat left center;}
.mainItemCon_Lli14{margin-top: 6px; background: url(../images/24.gif) no-repeat 2px center;}
.mainItemCon_Lli15{margin-top: 8px; background: url(../images/25.gif) no-repeat left center;}
.mainItemCon_Lli16{margin-top: 6px; background: url(../images/26.gif) no-repeat left center;}
/*.......................}左边列表*/
/*白色漂浮广告{......................*/
.mainItemConfloatA1{width: 220px; height: 235px;position: absolute;right:110px; top: 10px;display: block; overflow: hidden;z-index: 10;}
.mainItemConfloatA1_opac{width: 220px; height: 235px; background: #ffffff; opacity:.6;filter:alpha(opacity=60); position: absolute;}
.mainItemConfloatA1:hover .mainItemConfloatA1_opac{opacity: .7;z-index: 5;filter:alpha(opacity=70);}
.mainItemConfloatA1_title{display :block;width: 220px; height: 22px; line-height: 22px; font-size: 18px; text-align: center;margin-top: 25px; color: #000;position:absolute;z-index: 3;}
.mainItemConfloatA1_discribe{display :block;width: 220px; height: 20px; line-height: 20px; font-size: 16px; text-align: center; color: #000;position:absolute;z-index: 3; top:53px;}
.picfloAd1{position: absolute; bottom: 20px;z-index: 2;
    left: 45px;}
.mainItemConfloatA2{width: 220px; height: 235px;position: absolute;right:110px; bottom: 10px;display: block; overflow: hidden;}
.mainItemConfloatA2:hover .mainItemConfloatA1_opac{opacity: .7;z-index: 5;filter: alpha(opacity=70);}
/*.....................}白色漂浮广告*/
/*黑色漂浮广告{.....................*/
.mainItemCon_R{width: 100px;height: 480px; position: absolute; bottom: 10px; right: 0;}
.mainItemCon_Ropac{width: 100px; height: 480px; background: #000 url(../images/pic02.png) no-repeat center 12px; opacity:.4; filter:alpha(opacity=40);z-index: 1;}
.mainItemCon_Rlogin{width: 80px; height: 79px; position: absolute; top:94px; left: 10px; text-align: center;border-bottom: 1px dashed #000;}
.mainItemCon_Rloginp{height: 12px; line-height: 12px;color: #fff;}
.mainItemCon_RloginA1{display:block; height: 24px; line-height: 24px; background: url(../images/pic03.png) no-repeat; color: #fff; margin-top: 11px;}
.mainItemCon_RloginA2{display: block; height: 12px; line-height: 12px; color: #fff;margin-top: 12px}
.mainItemCon_Rmid{width: 100px; height: 105px; position: absolute;top :195px;}
.mainItemCon_Rmidli1{height: 22px; line-height: 22px; background: url(../images/pic04.png) no-repeat 15px 1px;
color:#ffffff; text-indent: 38px;}
.mainItemCon_Rmidli2{height: 22px; line-height: 22px; background: url(../images/pic05.png) no-repeat 15px 1px;
    color:#ffffff; text-indent: 38px;}
.mainItemCon_Rmidli3{height: 22px; line-height: 22px; background: url(../images/pic06.png) no-repeat 15px 1px;
    color:#ffffff; text-indent: 38px;}
.mainItemCon_Rmidli4{margin-top: 15px; text-align: center;}
.mainItemCon_Rmidli4 a{height: 12px; line-height: 12px; color: #fff;}

.mainItemCon_Rbot{width: 100px; height: 159px;position: absolute; bottom: 0;}
.mainItemCon_RbotH{height: 24px; line-height: 24px; text-align: center; color: #fff; position: relative;}
.mainItemCon_RbotHopac{height: 24px; width: 100px; background: #000000; opacity:.3;filter:alpha(opacity=30);}
.mainItemCon_RbotHp{position: absolute; bottom: 0;left: 25px;}
.mainItemCon_Rbotimg{position: absolute  ; left: 21px; top :41px;}
.mainItemCon_RbotP1{width:100px;height: 12px; line-height: 12px; text-align: center;position: absolute;top:110px;}
.mainItemCon_RbotP2{width:100px;height: 12px; line-height: 12px; text-align: center;position: absolute;top:133px;}
.mainItemCon_RbotP1 a,.mainItemCon_RbotP2 a{color: #fff;}
/*...................}黑色漂浮广告*/
/*专属活动{................................*/
.exclusiveCon{width: 1230px; height: 192px; margin: 0 auto;}
.exclusiveConH{height: 62px;position: relative;}
.ECHline_L{width: 403px; height: 0px; border-bottom: 1px solid #f2f2f2; position: absolute; left:2px;top:38px;*font-size:0;}
.ECHlogo{width: 143px; height: 45px; line-height: 45px; position: absolute;left: 553px; bottom:0;}
.ECHlogo h4{idth: 143px; color: #dd2727; font-size: 18px; background: url(../images/pic08.png) no-repeat left center; text-indent: 18px;}
.ECHline_R{width: 403px; height: 0px; border-bottom: 1px solid #f2f2f2; position: absolute; right:2px;top:38px;*font-size:0;}

.exclusiveConshow{width: 1230px;height: 130px;margin: 0 auto;}
.exclusiveConshow li{float: left; overflow: hidden;}
.exclusiveConshow a{display: block;width: 238px;height: 130px; overflow: hidden;}
.exclusiveConshow a:hover{height: 128px; border-top: 2px solid #c40000;overflow: hidden;}
.ECSli2{margin-left: 10px;}

/*...............................}专属活动*/

/*taste{.........................*/
.taste{width: 1230px; height: 436px; margin: 0 auto; margin-top: 30px;}
.Tlive{width: 487px;height: 436px; float: left; background: url(../images/lpic41.gif) no-repeat;
    overflow: hidden;}
.Tshow{width: 731px; height: 436px; float: right;}
.Tshow ul{width: 731px; height: 108px;margin-bottom: 1px;}
.TSli{float: left; overflow: hidden; margin-right:1px;text-align: center;}
.TSlilast{text-align: center;}
.pub3a{display:block; width: 121px;height: 108px; float: left;position: relative;}
.public3Img{ display: inline-block  ; vertical-align: middle;}
.ab{display:inline-block;vertical-align: middle;height: 100%;width: 0;}
.pub3aopac{width:121px; height:108px;display: block; position: absolute; background: #000;  bottom: 0;opacity:0;filter:alpha(opacity=0);left:0;}
.pub3a:hover .pub3aopac{opacity:0.5;filter:alpha(opacity=50);}

/*潮流前沿{....................*/
.tide{width: 1230px; height: 477px;margin: 0 auto; margin-top: 30px;}
.TFhead{width: 238px; height: 36px; line-height:36px;font-size:18px; color:#fff;background: #dd2727 url(../images/pic12.png) no-repeat 69px center;text-indent: 95px;}
.TFhead2{background-image: url(../images/lpic66.gif);}
.TFhead3{background-image: url(../images/lpic67.gif);}
.TFhead4{background-image: url(../images/lpic68.gif);}
.TFhead5{background-image: url(../images/lpic69.gif);}
.tideFir{width: 238px; height: 477px; overflow: hidden; float: left;}
.tideOther{margin-left: 10px;}
.TFircon{width: 238px; height: 220px;display: block; overflow: hidden;}
.TFircon:hover .TFirconImg{margin-top: 8px;}
.TFirconSp1{ display:block;height: 22px; line-height: 22px; font-size: 22px;color: #414a58; text-align: center;margin-top: 20px;}
.TFirconSp2{display: block;height: 16px; line-height: 16px;font-size: 14px; color: #c0b5b1;text-align: center;margin-top: 5px;}
.TFirconImg{margin:0 auto; margin-top: 11px;}/*书写顺序很重要*/


/*潮流前沿下面的鞋*/
.streamer{width: 1230px; height: 100px; margin: 0 auto;}
.streamerA{display: block;}

/*儿童kid{............*/
.kid{width: 1230px; height: 480px; margin: 0 auto; margin-top: 20px;overflow: hidden;}
.kidheader{width: 1230px; height: 40px; overflow: hidden;}
.kidhea_L{height: 20px;float: left; margin-top: 10px;}
.kidhea_Lcolor{width: 0px; height: 20px; border-left: 5px solid #f6c280; float: left;}
.kidhea_Lh4{ color: #938e85;font-weight:normal;  float: left; margin-left: 10px; overflow: hidden;}
.kidhea_Lsp1{display:block;height: 22px; line-height: 22px; font-size: 18px;float: left;}
.kidhea_Lsp2{display: block; height: 18px; line-height: 18px;font-size: 12px;float: left; margin-left: 10px;margin-top: 3px }

.kidhea_R{height: 30px; float: right; margin-top: 10px;}
.kidhea_Rli{float: left; margin-right: 23px;}
.kidhea_Rlilast{float:left; margin-right: 10px;}
.kidhea_Rlia{display:block;float: left; height: 30px; line-height:30px;color: #8e8e7a;}
.kidhea_Rlia:hover{color: #f7a945; height: 28px; border-bottom: 2px solid #8b8688;}

.kidCon{width: 1230px; height: 440px;}

.kidCon_R{width: 983px; height: 441px;float: left;}
.kidCon_Rul1{width: 244px; height: 441px; float: left;margin-right: 1px; overflow: hidden;}
.kidCon_Rul4{width: 248px;}
.kidCon_Rli1{margin-bottom: 1px;}
.kidCon_Rul4{margin-right: 0;}
.kidCon_Rli1p1{color: #000;}
.kidCon_Rli1p2{color:#f7a945;}

.kidCon_Rul4A{width: 223px; height: 117px;}

/*.............户外出行{.................*/
.outhea_Lcolor{border-left: 5px solid #3ecfb6;}
.outCon_Lbotcolor{background: #19c8a9;}
.outCon_Rli1p1{color: #000;}
.outCon_Rli1p2{color:#52c9ae;}
.outhea_Rlia:hover{color: #52c9ae; height: 28px; border-bottom: 2px solid #8b8688;}


/*欧巴oba{................*/
.oba{width: 1230px; height: 100px; margin: 0 auto; position: relative;}
.obaA{display: block; position: absolute; bottom: 0;}

/*打造爱巢{............................*/
.love_Lcolor{border-left: 5px solid #f15453;}
.loveCon_Lbotcolor{background: #f15453;}
.loveCon_Rul4A{height: 81px;}
.loveCon_Rli1p1{color: #000;}
.loveCon_Rli1p2{color: #f35453;}
.lovehea_Rlia:hover{color:#f35453 ; height: 28px; border-bottom: 2px solid #8b8688;}

/*居家生活{........................*/
.heal_Lcolor{border-left: 5px solid #64c333;}
.healCon_Lbotcolor{background: #64c333;}
.healCon_Rli1p1{color:#000 ;}
.healCon_Rli1p2{color: #64c333;}
.healhea_Rlia:hover{color:#64c333 ; height: 28px; border-bottom: 2px solid #8b8688;}

/*床垫{.........................*/
.matt{width: 1230px; height: 100px; margin: 0 auto; position: relative;}
.mattA{display: block;position: absolute; bottom: 0;}

/*潮电酷玩{........................*/
.elect_Lcolor{border-left: 5px solid #0aa6e8;}
.electCon_Lbotcolor{background: #0aa6e8;}
.electCon_Rul1{width: 489px;}
.electCon_RliA1{width: 464px;}
.electCon_RliA3{ float: right;}
.electCon_Rli1p1{color: #000;}
.electCon_Rli1p2{color: #0aa6e8; }
.prop1{height: 30px; line-height: 30px;font-size: 24px; position: absolute; left:45px;top:47px;}
.prop2{height: 18px; line-height: 18px;font-size: 14px; position: absolute; left:45px;top:106px;}
.electhea_Rlia:hover{color:#0aa6e8 ; height: 28px; border-bottom: 2px solid #8b8688;}

/*美丽人生{........................*/
.fation_Lcolor{border-left: 5px solid #ed85a7;}
.fationCon_Lbotcolor{background: #ed85a7;}
.fationCon_Rli1p1{color: #000;}
.fationCon_Rli1p2{color: #eb5f8d;}
.fationhea_Rlia:hover{color:#eb5f8d ; height: 28px; border-bottom: 2px solid #8b8688;}

/*骆驼{...........................*/
.camel{width: 1230px; height: 100px; margin: 0 auto; position: relative;}
.camelA{display: block;position: absolute; bottom: 0;}


